.container {
    max-width: 120rem;
    margin: 8rem auto; //to center trick
    background-color: var( --color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
    @media only screen and (max-width: $bp-largest) {}
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: $bp-smallest) {}
}

.content {
    display: flex;
    @media only screen and (max-width: $bp-medium) {}
}

.sidebar {
    background-color: var( --color-grey-dark-1);
    flex: 0 0 18%; //flex grow, flex shring, flex-basis;
    display: flex;
    flex-direction: column;
    justify-content :space-between;
}

.hotel-view {
    background-color: pink; // background-color: pink;;
    flex: 1;
    height: 80rem;;
}

.detail {
    @media only screen and (max-width: $bp-medium) {}
    @media only screen and (max-width: $bp-small) {}
}

.description {
    @media only screen and (max-width: $bp-medium) {}
    @media only screen and (max-width: $bp-small) {}
}

.user-reviews {}