.header {
   
    background-color: $color-grey-dark-1;
    grid-column: full-start /col-end 6;

    @media only screen and (max-width: $bp-medium) {
    }

    @media only screen and (max-width: $bp-small) {
    }

    &__logo {
    }

    &__btn {
    }

    &__seenon-text {
        &::before,
        &::after {
            content: "";
        }
    }

    &__seenon-logos {

        img {
        }
    }
}