.story {
    
    &__pictures {
        background-color: $color-primary;
        grid-column: full-start /col-end 4;
   

        @media only screen and (max-width: $bp-medium) {
        }
    }

    &__img--1 {
      

        @media only screen and (max-width: $bp-medium) {
        }
    }

    &__img--2 {
     

        @media only screen and (max-width: $bp-medium) {
        }
    }

    &__content {
      background-color: $color-grey-light-2;
      grid-column: col-start 5/full-end ;
     
        @media only screen and (max-width: $bp-medium) {
        }
    }

    &__text {
       
    }
}