################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Natours/starter/node_modules
/Trillo/starter/node_modules
